@charset "UTF-8";
.fw-black {
  font-weight: 900;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Añade padding para asegurar espacio en los bordes */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Asegura que el carrito esté alineado a la derecha */
}

.carrito {
  background-color: transparent;
  border: none;
  max-width: 2rem;
  position: relative;
  z-index: 100;
  margin-right: 20px; /* Añade margen para asegurar espacio en el borde derecho */
}

.carrito #carrito {
  display: none;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.carrito:hover #carrito {
  display: block;
  background-color: white;
  padding: 10px;
  height: fit-content;
  min-width: 350px;
  width: fit-content;
  top: 100%;
  right: 0;
  left: unset;
  margin-left: unset;
  margin-right: unset;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#carrito img {
  width: 30px;
}

#carrito .btn-danger {
  font-size: 10px;
  border-radius: 50%;
  padding: 5px 9px;
}

#carrito .btn-dark {
  padding: 0 2px;
  margin: 0 3px;
}
p {
  font-family: verdana;
  font-size: 20px;
  color: red;
  text-align: center;
}
.navbar {
  background-color: #333 ;
  overflow: hidden;
  display: flex;
  align-items: center;
}
button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}


button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  text-transform: none;
}

button,
[type=button] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled) {
  cursor: pointer;
}
.logo {
  cursor: pointer;
  padding: auto;
  width: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #a8a8a8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #b9b5b5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  padding: 20px;
  background-color: #e0f7fa;
  min-height: 100vh; /* Asegura que el contenido llene la pantalla */
}
.dropdown-menu {
  z-index: 1000; /* Asegúrate de que este valor sea mayor que el del fondo */
}
.dropdown-menu {
  position: absolute;
  top: 100%; /* Ajusta según sea necesario */
  left: 0;
}

.container-xl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
   .container-xl {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}


.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 900;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
 :not(.btn-check) + .btn:active, .btn:first-child:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
 :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-danger {
  --bs-btn-color: #FFF;
  --bs-btn-bg: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #FFF;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #FFF;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #FFF;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.btn-dark {
  --bs-btn-color: #FFF;
  --bs-btn-bg: #262626;
  --bs-btn-border-color: #262626;
  --bs-btn-hover-color: #FFF;
  --bs-btn-hover-bg: #474747;
  --bs-btn-hover-border-color: #3c3c3c;
  --bs-btn-focus-shadow-rgb: 71, 71, 71;
  --bs-btn-active-color: #FFF;
  --bs-btn-active-bg: #515151;
  --bs-btn-active-border-color: #3c3c3c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #FFF;
  --bs-btn-disabled-bg: #262626;
  --bs-btn-disabled-border-color: #262626;
}
#laptopTable {
  display: none;
}
.laptop-img {
  display: block;
  position: absolute;
  width: 200px;
  height: auto;
}

.column {
  flex: 1;
  margin: 0 10px;
}
/* styles.css */
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Asegura que las filas se dispongan en una columna */
}

.column {
  flex: 1;
  margin: 0 10px;
  text-align: center; /* Centra el contenido de cada columna */
}

.laptop-model {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro de la columna */
  text-align: center; 
}

.laptop-model img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: 200px; /* Establece una altura fija para todas las imágenes */
  width: auto; /* Mantiene la proporción de la imagen */
  background-color: transparent; /* Asegura que el fondo sea transparente */
}
.laptop-model p {
  color: black; /* Cambia el color del texto */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  clear: both; /* Asegura que el texto esté debajo de la imagen */
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Espacio entre filas */
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Asegura que el carrito esté alineado a la derecha */
}
.navbar-left {
  display: flex;
  align-items: center;
}
